
<% if( @tasks.empty? ) %>
	<div class="empty-tasks">
		<span class="second-title">Sem atividades</span>
	</div>
<% else %>
	<table id="table-tasks" class="table-with-check-list">
	  <tr>
	    <th class="mini-col"></th>
		<th>Atividade</th>
		<th class="small-col">Data</th>
	  </tr>
	
	<% @tasks.each do |task| %>
	
	  	<% if( @status == :close) %>
	  		<tr onclick="location.href='<%= show_task_submission_url(:id => task.id) %>'">
	  	<% else %>
	  		<tr onclick="location.href='<%= submit_submission_url(:id => task.id) %>'">
	  	<% end %>
	  	  	
	  	<% if( @status == :close) %>
	  		<td class="mini-col"><div class="task-label close"></div></td>
	  	<% elsif(@status == :open && task.submited) %>
	  		<td class="mini-col"><div class="task-label open"></div></td>
	  	<% elsif(@status == :pendding || (@status == :open  && !task.submited)) %>
	  		<td class="mini-col"><div class="task-label pendding"></div></td>
	  	<% end %>
	  	
		<td><%= task.title %></td>
		<td class="small-col"><%= task.date %></td>
	   </tr>
	<% end %>
	</table>
<% end %>

<br />