<span class="debug-span">tasks/close.html.erb</span>
<% content_for :head do %>
  <%= render :partial => "shared/mainHeaderStudent", :locals => { :selected => "close" } %>
<% end %>
<% @status = :close %>
<%= render 'listStudent' %>

<% content_for :buttons do %>
<br>
<% end %>