<span class="debug-span">tasks/open.html.erb</span>
<% content_for :head do %>
  <%= render :partial => "shared/mainHeaderStudent", :locals => { :selected => "open" } %>
<% end %>
<% @status = :open %>
<%= render 'listStudent' %>

<% content_for :buttons do %>
<br>
<% end %>