<span class="debug-span">tasks/pending.html.erb</span>
<% content_for :head do %>
	<% if(session[:user_student] == true) %>
  		<%= render :partial => "shared/mainHeaderStudent", :locals => { :selected => "pending"} %>
  	<% else %>
  		<%= render :partial => "shared/mainHeaderTeacher", :locals => { :selected => "pending"} %>
  	<% end %>
<% end %>

<% @status = :pendding %>

<% if(session[:user_student] == true) %>
  	<%= render 'listStudent' %>
  <% else %>
  	<%= render 'listTeacher' %>
<% end %>
  	


<% content_for :buttons do %>
<br>
<% end %>