
<div style="height: 40px; width: 100%">
	<input type="button" value="Alunos" style="float: left;"/>
	<input type="button" value="Novo" style="float: left;"/>
	<input type="button" value="Abertos" style="float: left;"/>
	<input type="button" value="Fechados" style="float: left;"/>
	<input type="button" value="Configuração" style="float: right;"/>
</div>
