<div style="height: 40px; width: 100%">
	<% if selected == "pending"%>
		<input type="button" class="cssgradients button-default left-float active margin-right" value="Pendentes">
	<% else %>
		<%= button_to 'Pendentes', 'pending', {:class => 'left-float cssgradients button-default margin-right'} %>
	<% end %>
	
	<% if selected == "open"%>
		<input type="button" class="cssgradients button-default left-float margin-right active" value="Abertas">
	<% else %>
		<%= button_to 'Abertas', 'open', {:class => 'left-float cssgradients button-default margin-right' } %>
	<% end %>
	
	<% if selected == "close"%>
		<input type="button" class="cssgradients button-default left-float margin-right active" value="Fechadas">
	<% else %>
		<%= button_to 'Fechadas', 'close', {:class => 'left-float cssgradients button-default margin-right' } %>
	<% end %>
	
</div>
