<span class="debug-span">shared/_mainHeaderTeacher.html.erb</span>
<div style="height: 40px; width: 100%">
	<input type="button" value="Alunos" style="float: left;"/>
	<%= button_to 'Novo', 'new', {:style => "float: left;" } %>
	<input type="button" value="Abertos" style="float: left;"/>
	<input type="button" value="Fechados" style="float: left;"/>
	<input type="button" value="Configuração" style="float: right;"/>
</div>
