<h1>Task Center</h1>
<p>Welcome</p>
<p><%= link_to "Atividades", tasks_path %></p>

<p><%= link_to "Entregas", submissions_path %></p>

<script language="JavaScript">
	
	alert("<%=session[:user_id]%>");
	alert("<%=session[:me]%>");
</script>