<span class="debug-span">submissions/_form.html.erb</span>
<% content_for :head do %>
 	<div class="gradient-bar line-bar center-text relative">
	
		<span class="title"><%= @task.title %></span>
		<div class="absolute second-title right">
			
			<% if (true) %>
				Pendente
			<% else %>
				Entregue
			<% end %>
		</div>
	</div>
<% end %>
	
	<div class="line-bar">
		<img src="calendar.png" width="17" height="17"/>
		Até <% @task.date %>
		
		<span class="second-title right-align">
			<% if (@task.public == false)%>
				Não Público
			<% else %>
				<a><img src="alunos.png" width="17" height="17"/> Ver entregas dos alunos ></a>
			<% end %>
		</span>
	</div>
	<div class="clear"></div>



<%= form_for (@task) do |f| %>


<% end %>

