<span class="debug-span">submissions/show.html.erb</span>
<% content_for :head do %>
 	<div class="gradient-bar line-bar center-text relative">
	
		<span class="title"><%= @task.title %></span>
		<div class="absolute second-title right">
			
			<% if (@submission.empty? || !@submission[0].submitted) %>
				Não entregue
			<% else %>
				Entregue
			<% end %>
		</div>
	</div>
	
	<div class="line-bar">
		<%= link_to_function "< Voltar", "history.back()", :class => 'cssgradients button-default' %> 
		<img src="../../images/calendar.png" width="17" height="17"/>
		Até <% @task.date %>
		
		<span class="second-title right-align">
			<% if (@task.public == false)%>
				Não Público
			<% else %>
				<a><img src="alunos.png" width="17" height="17"/> Ver entregas dos alunos ></a>
			<% end %>
		</span>
	</div>
	<div class="clear"></div>

<% end %>

	<div class="line-bar title">
	Especificac&atilde;o:
	</div>
	<div class="line-bar">
	<% @task.description %>
	</div>
	
	<% if (!@submission.empty? && @submission[0].submitted) %>
		<div class="line-bar title">
		Coment&aacute;rio:
		</div>
		<div class="line-bar">
		<%= @submission[0].comment %>
		</div>
		
		<div class="line-bar title">
		Arquivos:
		</div>
		<div class="line-bar">
		
			<ul class="files-list">
				<li><a>exercicio1.doc</a><a class="right-float"><img src="trash.png" width="17" height="17"/></a><span class="right-float">10 KB </span></li>
				<li><a>exercicio1.doc</a><a class="right-float"><img src="trash.png" width="17" height="17"/></a><span class="right-float">10 KB </span></li>
			</ul>
			
			<div class="line-bar">
			<a><img src="upload.png" width="17" height="17"/> Download</a>
			</div>
		</div>
	<% else %>
	